@{
    ViewBag.Title = "Circular Economy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Traditional, “take-make-dispose” economies have had devastating impacts on people and the environment. But the circular economy model has the potential to trigger far-reaching change, and put the world on track to achieve the United Nations’ Sustainable Development Goals. While the predominant approach to economic growth has created vast amounts of waste to profit relatively few people, a circular model could treat waste as a design flaw and generate more distributed and inclusive systems. Ultimately, it offers an opportunity to rethink, redesign, and reconceptualize economies to better address human needs and make more efficient use of natural resources </p>
