@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Circular Economy</h1>
    <p class="lead">shift from a ‘throw-it-away’ consumption model to a ‘circular economy’</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>flexible, multi-purpose homes</h2>
    </div>
    <div class="col-md-4">
        <h2>build secondary markets</h2>     
    </div>
    <div class="col-md-4">
        <h2>Share when you can</h2>
    </div>
</div>
