@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Circular Economy</h1>
    <p class="lead">How can we build a circular economy?</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>flexible, multi-purpose homes</h2>
    </div>
    <div class="col-md-4">
        <h2>build secondary markets</h2>     
    </div>
    <div class="col-md-4">
        <h2>Share when you can</h2>
    </div>
</div>
